<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="1.1.10" targetFramework="net451" />
  <package id="OAuth2Client" version="1.4.13309.2515" targetFramework="net451" />
  <package id="SharpSvn.1.8-x86" version="1.8004.2609" targetFramework="net451" />
  <package id="VersionOne.SDK.APIClient" version="14.0.3.227" targetFramework="net451" />
</packages>