<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.1" targetFramework="net45" />
  <package id="FSharp.Data" version="2.0.8" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="OAuth2Client" version="1.6.1.2567" targetFramework="net45" />
  <package id="SharpSvn.1.8-x86" version="1.8009.3267.31" targetFramework="net45" />
  <package id="VersionOne.Parsers" version="1.1.0.0" targetFramework="net45" />
  <package id="VersionOne.SDK.APIClient" version="14.1.1.277" targetFramework="net45" allowedVersions="[14.1.1.277]" />
  <package id="VersionOne.ServiceHost.Core" version="1.0.203.0" targetFramework="net45" allowedVersions="[1.0.203.0]" />
</packages>
